/* Desktop */
@media (min-width: 1024px) {
  .top-nav .trigram {
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .asana,
  .calendar,
  .weave,
  .paypal,
  .atlassian {
    animation: none;
  }
  .googleAds,
  .google {
    animation: none;
  }
  .topNav-home,
  .topNav-features,
  .topNav-learn,
  .topNav-pricing,
  .topNav-hire,
  .buy-now-btn {
    display: none;
  }
  .top-section {
    height: 750px;
  }
  .top-section-content {
    height: 750px;
  }
  .topSectionBackground {
    width: 100%;
    height: 517px;
    top: -1px;
    left: 1px;
  }
  .header-content {
    height: 86px;
    align-items: center;
  }
  .logo-icon {
    width: 154.89px;
    height: 46.1px;
  }
  .top-nav {
    width: 46px;
    height: 32px;
  }
  .fa-bars {
    width: 18px;
    height: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    color: #677788;
  }
  .hero-section {
    height: 664px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .mission {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 305px;
    justify-content: center;
    align-items: center;
  }
  .title {
    width: 400px;
    height: 76px;
    text-align: center;
    align-items: center;
  }
  .title h1 {
    width: 1435px;
    height: 48px;
  }
  .title p {
    width: 334px;
    height: 17px;
    line-height: 16.94px;
  }
  .act {
    width: 712px;
    height: 48px;
    justify-content: center;
  }
  .logos {
    width: 100%;
    height: 309px;
  }
  .asana {
    left: 533px;
  }
  .calendar {
    top: 229px;
    left: 517px;
  }
  .weave {
    top: 99px;
    left: 414px;
  }
  .paypal {
    top: 99px;
    left: 112px;
  }
  .atlassian {
    left: 287px;
  }
  .googleAds {
    top: 209px;
    left: 230px;
  }
  .google {
    left: 110px;
  }

  /* Why front section */
  .why-front-section {
    width: 100%;
    height: 354px;
    align-items: center;
    padding-bottom: 80px;
    gap: 40px;
  }
  .bullets-list {
    display: flex;
    justify-content: center;
    width: 768px;
    height: 145px;
    padding-right: 34px;
    padding-left: 34px;
  }
  .bullet {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 145px;
    gap: 24px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .bullet-top {
    width: 175px;
  }
  .leftWing {
    width: 58.5px;
    height: 1px;
    background: #e6e9f2;
  }
  .leftWingEmpty {
    width: 58.5px;
    height: 1px;
  }
  .rightWing {
    width: 58.5px;
    height: 1px;
    background: #e6e9f2;
  }
  .rightWingEmpty {
    width: 58.5px;
    height: 1px;
  }
  .bullet-title {
    width: 175px;
    height: 19px;
  }

  /* pricingSection */
  .pricing-section {
    width: 100%;
    height: 1013px;
  }
  .plans-features-list {
    flex-direction: column;
    align-items: center;
  }
  .pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    height: 373px;
    padding: 40px;
    gap: 50px;
    border: 1px solid #e2e2e2;
  }
  .plan-header {
    align-items: center;
    width: 600px;
    height: 170px;
    gap: 30px;
  }
  .plan-price {
    width: 114px;
    height: 61px;
  }
  .plan-divider {
    width: 100%;
  }
  .plan-text {
    width: 600px;
    height: 48px;
  }
  .plan-footer {
    height: 73px;
  }
  .plan-features {
    width: 680px;
    height: 430px;
    gap: 10px;
  }
  .planFeatureItem {
    width: 335px;
    height: 219px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ffffff;
  }
  .planFeatureItem2 {
    width: 335px;
    height: 197px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ffffff;
  }
  .itemContent {
    width: 295px;
    height: 179px;
  }
  .itemContent2,
  .item4-itemContent {
    width: 295px;
    height: 157px;
  }
  .rowTwo {
    height: 201px;
  }
  .planFeatureItem3 {
    width: 335px;
    height: 201px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ffffff;
  }
  .item3-itemContent {
    width: 295px;
    height: 161px;
  }
  .planFeatureItem4 {
    width: 335px;
    height: 197px;
    gap: 20px;
    border-width: 1px;
    padding: 20px;
    border: 1px solid #ffffff;
  }
  /* hire us section */
  .hire-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 984px;
  }
  .hire-us-info {
    flex-direction: row;
    width: 708px;
    height: 240px;
    padding: 40px 30px 20px 30px;
  }
  .hire-us-form {
    justify-content: center;
    width: 708px;
    height: 684px;
    padding: 30px;
  }
  .form {
    width: 100%;
    height: 648px;
  }
  .formData {
    width: 588px;
    height: 482px;
    gap: 10px;
  }
  .formHeader {
    width: 588px;
    height: 24px;
  }
  .form-group,
  .form-control-email {
    width: 588px;
    height: 44px;
  }
  .form-control {
    width: 284px;
  }
  .form-control-dropdown {
    width: 284px;
    height: 44px;
  }
  .form-textArea {
    width: 588px;
  }
  .form-group-end {
    width: 588px;
  }
  .form-control-end-label {
    width: 574px;
  }
  .email-consent-text {
    width: 547px;
  }
  .formAction {
    justify-content: center;
  }
  .privacy-policy-context2 {
    display: none;
  }
  .footer-container {
    width: 100%;
    height: 501px;
    padding: 80px 30px 40px 30px;
  }
  .footer-content {
    width: 100%;
    height: 381px;
  }
  .footer-contact {
    width: 251px;
    height: 93.76113891601562px;
  }
  .footer-links {
    flex-direction: column;
    width: 417px;
    height: 381px;
  }
  .footer-links-container1 {
    display: flex;
    width: 417px;
    height: 166px;
    gap: 80px;
  }
  .footer-links-container2 {
    display: flex;
    width: 304px;
    height: 166px;
    gap: 49px;
  }
}

/* Mobile */
@media (min-width: 360px) and (max-width: 767px) {
  .asana,
  .calendar,
  .weave,
  .paypal,
  .atlassian {
    animation: none;
  }
  .googleAds,
  .google {
    animation: none;
  }
  .topNav-home,
  .topNav-features,
  .topNav-learn,
  .topNav-pricing,
  .topNav-hire,
  .buy-now-btn {
    display: none;
  }
  .top-section {
    height: 705px;
  }
  .top-section-content {
    height: 680px;
  }
  .topSectionBackground {
    width: 100%;
    height: 517px;
    top: -1px;
    left: 1px;
  }
  .header-content {
    height: 86px;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
  }
  .logo-icon {
    width: 154.89999389648438px;
    height: 46.099998474121094px;
    gap: 10px;
  }
  .top-nav {
    width: 46px;
    height: 32px;
    gap: 30px;
    padding: 6px 14px;
  }
  .fa-bars {
    width: 18px;
    height: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    color: #677788;
  }
  .hero-section {
    flex-direction: column;
    height: 594px;
    gap: 10px;
    padding: 40px 16px 0px 16px;
  }
  .mission {
    align-items: center;
    width: 100%;
    height: 235px;
  }
  .title {
    width: 328px;
    height: 107px;
  }
  .title h1 {
    width: 100%;
    height: 62px;
    font-size: 26px;
    line-height: 31.47px;
    text-align: center;
  }
  .title p {
    width: 100%;
    height: 34px;
    line-height: 16.94px;
    text-align: center;
  }
  .act {
    width: 328px;
    justify-content: center;
  }
  .logos {
    width: 100%;
    height: 309px;
  }
  .asana {
    left: 248px;
  }
  .calendar {
    top: 219px;
    left: 239px;
  }
  .weave {
    top: 99px;
    left: 184px;
  }
  .paypal {
    top: 99px;
  }
  .paypal img {
    width: 48px;
    height: 48px;
  }
  .atlassian {
    left: 114px;
  }
  .googleAds {
    top: 209px;
    left: 106px;
  }
  .google {
    /* top: 10px;
    left: 64px; */
  }

  /* Why front section */
  .why-front-section {
    height: 488px;
    padding-bottom: 60px;
  }
  .why-front-title {
    width: 360px;
    height: 137px;
    padding: 0 16px;
  }
  .bullets-list {
    flex-direction: column;
    width: 100%;
    height: 251px;
    gap: 17px;
    padding: 0 34px;
    justify-content: center;
    align-items: center;
  }
  .leftWing,
  .leftWingEmpty,
  .rightWing,
  .rightWingEmpty {
    display: none;
  }
  .bullet {
    flex-direction: row;
    align-items: center;
    width: 292px;
    height: 50px;
  }
  .bullet-top {
    width: 50px;
    height: 50px;
    gap: 4px;
  }
  .bullet-title {
    width: 218px;
    height: 19px;
  }

  /* pricingSection */
  .pricing-section {
    height: 1451px;
    padding-bottom: 60px;
    align-items: center;
  }
  .pricing-info {
    height: 60px;
  }
  .plans-features-list {
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 1271px;
    padding: 0 16px;
  }
  .pricing-plan {
    align-items: center;
    width: 328px;
    height: 397px;
  }
  .plan-header {
    justify-content: center;
    width: 248px;
    height: 194px;
  }
  .plan-footer {
    height: 73px;
  }
  .plan-price {
  }
  .plan-features {
    height: 844px;
    gap: 10px;
  }
  .rowOne {
    flex-direction: column;
    height: 426px;
  }
  .planFeatureItem {
    width: 328px;
    height: 219px;
    padding: 20px 0;
    gap: 20px;
    justify-content: unset;
    align-items: unset;
  }
  .planFeatureItem2 {
    width: 328px;
    height: 197px;
    padding: 20px 0;
    gap: 20px;
    justify-content: unset;
    align-items: unset;
  }
  .itemContent-content {
    width: 328px;
  }
  .rowTwo {
    flex-direction: column;
    height: 408px;
  }
  .planFeatureItem3,
  .planFeatureItem4 {
    width: 328px;
    padding: 20px 0;
  }
  .item3-itemContent,
  .item3-topPart,
  .item3-bottomPart,
  .item3-bottomPartText,
  .item4-itemContent,
  .item4-contentText {
    width: 328px;
  }

  /* hire us section */
  .hire-us-section {
    height: 1337px;
    flex-direction: column;
    align-items: center;
  }
  .hire-us-info {
    width: 362px;
    height: 457px;
    padding: 0;
    align-items: center;
  }
  .hire-us-quote {
    width: 330px;
    height: 204px;
  }
  .hireUs-title {
    width: 330px;
  }
  .hireUs-titleContain {
    width: 330px;
    align-items: center;
    text-align: center;
  }
  .hireUs-divider {
    width: 330px;
  }
  .hireUs-phrase {
    width: 330px;
    height: 72px;
    text-align: center;
  }
  .hire-us-profile {
    width: 330px;
    height: 133px;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .hireUs-person,
  .personTitle {
    width: 330px;
    align-items: center;
  }
  .hire-us-form {
    width: 362px;
    height: 880px;
    padding: 30px 16px;
  }
  .form {
    width: 330px;
    height: 820px;
  }
  .formData {
    width: 270px;
    height: 678px;
    gap: 20px;
  }
  .formHeader {
    width: 270px;
  }
  .form-group {
    flex-direction: column;
    width: 270px;
    height: 108px;
    gap: 20px;
  }
  .form-group-email {
    height: 44px;
  }
  .form-control,
  .form-control-email {
    width: 270px;
  }
  .form-control-dropdown {
    width: 270px;
  }
  .form-textArea {
    width: 270px;
  }
  .form-group-end {
    width: 270px;
    height: 120px;
  }
  .form-control-end-label {
    width: 229px;
    height: 120px;
  }
  .email-consent-text {
    width: 229px;
    height: 88px;
  }
  .ppc-text2,
  .border-bottom-2 {
    display: none;
  }

  /* footer */
  .footer {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1151.76px;
    padding: 80px 16px 40px 16px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1031.76px;
  }
  .footer-contact {
    width: 328px;
    height: 111.76px;
    align-items: center;
  }
  .footer-contact-container {
    width: 328px;
    height: 111.76px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .footer-menu-item-1 {
    width: 316px;
    height: 21px;
    gap: 9px;
    text-align: center;
    align-items: center;
  }
  .arrowIcon {
    line-height: 100%;
  }
  .footer-location-text {
    width: 296px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .footer-menu-item-2 {
    width: 186px;
    height: 21px;
    gap: 9px;
    text-align: center;
    align-items: center;
  }
  .footer-phone-number {
    width: 165px;
    height: 21px;
    font-weight: 510;
    font-size: 18px;
    line-height: 100%;
  }
  .footer-links {
    flex-direction: column;
    width: 328px;
    height: 880px;
    gap: 49px;
    align-items: center;
    text-align: center;
  }
  .footer-links-container1,
  .footer-links-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
  }
  .footer-links-container1 {
    height: 447px;
    gap: 30px;
  }
  .footer-links-container2 {
    height: 384px;
    gap: 49px;
  }
  .footer-company {
    align-items: center;
    width: 123px;
    height: 229px;
  }
  .company-header {
    width: 97px;
    height: 24px;
    font-size: 20px;
    line-height: 100%;
  }
  .company-nav {
    width: 123px;
    height: 185px;
    gap: 20px;
    display: flex;
  }
  .company-menu-item,
  .company-menu-item-2 {
    display: flex;
    width: 123px;
    height: 21px;
    gap: 9px;
    justify-content: center;
  }
  .company-about {
    width: 53px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .company-blog {
    width: 39px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .company-customers {
    width: 94px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .company-hireus {
    width: 61px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .company-career {
    width: 59px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .footer-features {
    width: 328px;
    height: 188px;
    align-items: center;
  }
  .company-features {
    width: 90px;
    height: 24px;
    font-family: SF Pro;
    font-weight: 860;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
  }
  .features-nav {
    display: flex;
    width: 121px;
    height: 144px;
    gap: 20px;
  }
  .features-menuItem {
    display: flex;
    width: 121px;
    height: 21px;
    gap: 9px;
    justify-content: center;
  }
  .features-menuItem p {
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .features-press {
    width: 49px;
  }
  .features-releaseNotes {
    width: 121px;
  }
  .features-integrations {
    width: 105px;
  }
  .features-pricing {
    width: 61px;
  }

  .footer-documentation {
    width: 328px;
    height: 229px;
    justify-content: center;
    align-items: center;
  }
  .company-documentation {
    width: 157px;
    height: 24px;
    font-family: SF Pro;
    font-weight: 860;
    font-size: 20px;
    line-height: 100%;
  }
  .documentation-nav {
    display: flex;
    width: 166px;
    height: 185px;
    gap: 20px;
    justify-content: center;
  }
  .documentation-menuItem {
    display: flex;
    width: 166px;
    height: 21px;
    gap: 9px;
    justify-content: center;
  }
  .documentation-menuItem p {
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .documentation-support {
    width: 70px;
  }
  .documentation-docs {
    width: 44px;
  }
  .documentation-status {
    width: 56px;
  }
  .documentation-apiReference {
    width: 122px;
  }
  .documentation-techReqs {
    width: 166px;
  }

  .footer-resources {
    width: 328px;
    height: 106px;
    align-items: center;
    justify-content: center;
  }
  .company-resources {
    display: flex;
    width: 108px;
    height: 24px;
    font-family: SF Pro;
    font-weight: 860;
    font-size: 20px;
    line-height: 100%;
  }
  .resources-nav {
    display: flex;
    width: 137px;
    height: 62px;
    gap: 20px;
    justify-content: center;
  }
  .resources-menuItem {
    width: 137px;
    height: 21px;
    justify-content: center;
  }
  .resourcesHelpText {
    width: 41px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
  .resourcesYourAccountText {
    width: 116px;
    height: 21px;
    font-size: 18px;
    line-height: 100%;
  }
}
